* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --ColorTitulo: color white;
    --FuenteTitulo: font-size:900%;
}

.navbar {
    background-color: transparent;
    position: absolute;
    height: 10vh;
    width: 90%;
    left: 5%;
    z-index: 1;
    box-shadow: 0px 75px 1px -57px rgba(0, 0, 0, 0.1);

}

.flex-container-1 {
    background-color: rgba(255, 255, 255, 0.764);
    box-shadow: 0px 0px 2px 0px black;
    z-index: 0;
    height: 80vh;
    width: 40%;
    position: relative;
    top: 2rem;
    border-radius: .5rem;
    border-width: 5px;
    border-color: black;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;

}

.portada {
    background-color: white;
    height: 100vh;
    width: 100%;
}

.google {
    background-image: url(pngegg.png);
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    top: 1rem;
    height: 20vh;
    width: 40%;
    z-index: 2;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 700%;
    left: 30.3%;
    height: 1.5rem;
    width: 17rem;
    font-size: 180%;
    font-weight: 200;
}

.etiqueta-correo {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 5rem;
    width: 50%;
    left: 8rem;
    text-align: left;
    font-size: 100%;
    padding: 1rem 5rem 1rem 1rem;
    color: transparent;
    outline: none;
}

.input-correo {
    position: relative;
    top: 10%;
    left: -2%;
    width: 24rem;
    border-width: 0.2px;
    padding: 1rem 2rem 1rem 1rem;
    outline: none;
    border-radius: .2rem;
    transition: box-shadow 0.2s;

}

#input::placeholder {

    font-weight: 500;
}

.pregunta-correo {
    position: absolute;
    color: rgb(6, 112, 241);
    top: 56%;
    left: 21.5%;
    font-size: 90%;
    text-decoration: none;
}

.texto-2 {
    font-size: 90%;
    top: 69%;
    z-index: 3;
    height: 10vh;
    width: 100%;
    color: rgb(102, 100, 100);
    font-weight: 900;
    position: absolute;
    padding: 0rem 7rem 0rem 7rem;
    text-align: left;
    justify-content: flex-start;
    bottom: 8rem;
    left: 1.2rem;
}

.mas-informacion {
    text-decoration: none;
    color: rgb(6, 112, 241);
    font-weight: bolder;
}

.botones {
    display: flex;
    position: relative;
    top: 250%;
    left: 30%;
}

.crear-cuenta {
    height: 2rem;
    font-size: 90%;
    margin: 1rem;
    font-weight:  400;
    background-color: transparent;
    border-color: transparent;
    color: rgb(6, 112, 241);
    cursor: pointer;
    position: relative;
    left: -4.6rem;
    top: -2.5rem;
}
.crear-cuenta:hover {
    background-color: rgb(247, 247, 247);
    color: rgb(8, 77, 161);
    

}

.siguiente{
    background-color:rgb(6, 112, 241);
    border: none;
    height: 2rem;
    line-height: .02rem;
    border-radius: .3rem ;
    position: relative;
    right: -4.6rem;
    top: -2.6rem;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 90%;
    font-weight:  400;
    cursor: pointer;
}
.siguiente:hover{
    background-color: rgb(8, 77, 161);
}

.paises{
    font-size: 86%;
border: none;
outline: none;
position: absolute;
bottom: 10%;
left: 30%;
}

 select option{
    margin-top: 5rem;
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
    transition: background-position 0.3s ease;
}
select:hover{
    background-position: 0 20px;
}
